<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SupabaseURL</key>
	<string>https://uhzcybtdrrdlhagxjbfm.supabase.co</string>
	<key>SupabaseAnonKey</key>
	<string>eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVoemN5YnRkcnJkbGhhZ3hqYmZtIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTkxNjM2OTIsImV4cCI6MjA3NDczOTY5Mn0.30JUJF1dt57oBc-IHvPBVWtjldCBs4000pFggyC5Y0c</string>
    <key>SupabaseServiceKey</key>
    <string>(optional) SERVICE-ROLE-KEY</string>
    <key>OpenAIAPIKey</key>
    <string>(optional) OPENAI-KEY</string>
    <key>SupabaseFallbackUserID</key>
    <string>(optional) FALLBACK-USER-UUID</string>
</dict>
</plist>
